{% extends 'tweets/base.html' %}
{% block content %}
    <h1>Twitter</h1>
<br/>
{% if user.is_authenticated %}
     <a href="/new" class="btn btn-primary">Create a new tweet</a>
{% endif %}

       
    {% if latest_tweet_list %}
        <ul>
        {% for tweet in latest_tweet_list %}
            <br/><br/><br/>
            <div class="alert alert-dark" role="alert">
                {{tweet.tweet_text}}<br/>
                <small class="text-muted">
                    {{ tweet.pub_date }} by 
                    @{{ tweet.user.username |lower}}
                </small>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>No tweets are avaliable</p>
{% endif %}

{% endblock %}